@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --scrollcolor: #fff;
    --scrollbackground: #141e27;
}
.section1,
.section2,
.section3,
.section4,
.freshly-bake,
.subscribe-section{
    overflow: hidden;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.break{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
}

ul{
    margin-top: 50px;
    padding: 0;
}
li{
    list-style: none;
    margin: 0;
}
li a {
    text-decoration: none;
    color: rgb(240, 234, 234);
    cursor: pointer;
    font-size: .8em;
}
.fas{
    font-size: 2em;
    color: gray;
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}
.menu{
    position: fixed;
    padding: 10px 0;
    height: 100vh;
    top: 0;
    left: 0;
    width: 7%;
    color: white;
    background:#2a2b2d ;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
}
.menu ul li a.active {
    background-color: #fffef9c1;
    backdrop-filter: blur(10px);
    box-shadow: 0 3px 10px darkgray; 
    color: black;
}

.menu ul li a {
    background-color: transparent; 
    color: white;
    border-radius: 20px;
    padding: 10px;
}
.logo{
    width: 60px;
    height: 60px;
    margin-top: 20px;
}
.sections-con{
    position: absolute;
    top: 0;
    right: 0;
    width: 93%;
}
section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-barlow{
    font-family: 'Barlow', sans-serif;
}
.font-agdasima{
    font-family: 'Agdasima', sans-serif;
}


/* --------------------------------- */
/* -----------SECTION 1--------- */
/* --------------------------------- */
.section1{
    background-image: url(/Images/background.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.hero-logo{
    width: 150px;
    height: 150px;
    border: 4px solid rgb(236, 233, 41);
    border-radius: 50%;
    box-shadow: 0 10px 30px darkslategray;
}
.section1 h1{
    color: white;
    font-size: 3.5em;
    width: 60%;
    text-align: center;
    margin: 10px;
}
.section1 p{
    margin: 0;
    color: lightgoldenrodyellow;
    width: 65%;
    text-align: center;
}
.bttns{
    margin-top: 20px;
    width: 100%;
}
.btn{
    width: 200px;
    height: 50px;
    margin: 15px ;
    border-radius: 2px;
    border: none;
    outline: none;
    font-size: 1em;
}
.pry-btn{
    background-color: rgb(151, 222, 133);
    color: rgb(19, 92, 9);
}
.sec-btn{
    background-color: rgb(222, 95, 95);
    color: rgb(92, 20, 9);
}

@keyframes fade-right {
    from {
        opacity: 0;
        transform: translateX(-80px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-down {
    from {
        opacity: 0;
        transform: translateY(80px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-right {
    animation: fade-right 1s ease-in-out;
}

.animate-fade-up {
    animation: fade-up 1s ease-in-out;
}

.animate-fade-down {
    animation: fade-down 1s ease-in-out;
}

.extra{
    width: 96.6%;
    height: 100px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(204, 24, 24, 0.813);
}
.ext{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 5px;
}
.ext-con{
    display: flex;
}
.ext-num{
    font-family: 'Barlow';
    font-size: 2.3em;
    font-weight: 500;
}
.fa-plus{
    font-size: 1.3em;
}
.ext-title{
    font-size: .9em;
}



/* --------------------------------- */
/* ----------SECTION 2--------------*/
/* --------------------------------- */
.section2{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(241, 222, 179, 0.813));
    position: relative;
}
.explore-title {
    font-size: 5rem;
    background: url('/Images/background.jpg') center/cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    padding: 0;
    margin: 0;
    opacity: 0;
    transform: translateX(70px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.explore-title.active {
    opacity: 1;
    transform: translateY(0);
}
.title {
    font-size: 2.5rem;
    font-family: system-ui;
    line-height: 1.1;
    font-weight: 300;
    color: #fff;
    margin: 4rem auto 1rem;
    width: 85%;
    max-width: 1280px;
  }
  .slider {
    width: 85%;
    max-width: 1280px;
    margin: 50px auto;
  }
  .slider__content {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    scrollbar-color: var(--scrollcolor) var(--scrollbackground);
  }
  
  .slider__content::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 1rem;
    background: var(--scrollbackground);
  }
  .slider__content::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--scrollcolor);
  }
  .slider__content::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: var(--scrollbackground);
  }
  .slider__item {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 100%;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(70, 77, 80, 0.697);
    overflow: hidden;
    position: relative;
    aspect-ratio: 1;
  }
 
  .slider__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .slider__info {
    position: relative;
    padding: 4rem 2rem 2rem;
    gap: 5px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(32, 50, 57, 0));
  }
  
  .slider__info h2 {
    color: #fff;
    font-family: 'Barlow';
    line-height: 1;
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
  }
  .slider__info span {
    color: #fff;
    font-family: 'Barlow';
    line-height: 1;
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
  }
  .slider__info button{
    width: 5em;
    padding: 5px;
    border: 2px solid white;
    background: transparent;
    outline: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    z-index: 20;
  }
  .slider__nav {
    position: relative;
    margin: 1rem 0 4rem;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-content: center;
    align-items: center;
    z-index: 20;
  }

  .slider__nav__button {
    margin: 0;
    border: 0;
    border-radius: 2rem;
    background: rgb(203, 244, 149);
    color: #093814;
    padding: .8rem 1.5rem;
    font-size: 1rem;
    line-height: 1;
    transition: 0.2s ease-out;
    cursor: pointer;
  }
.svg-con{
    position: absolute;
    width: 100%;
    bottom: -7px;
    left: 0;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.svg-con.active {
    opacity: 1;
    transform: translateY(0);
    z-index: 2;
}


/* --------------------------------- */
/* ----------SECTION 3--------------*/
/* --------------------------------- */
.section3 {
    width: 100%;
    height: 100vh;
    background: rgb(246, 243, 218);
    background-size: cover;
    position: relative;
}

.sec-3 {
    width: 85%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.sec-3 h1 {
    font-size: 5rem;
    background: url('/Images/diet.jpg') center/cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    padding: 0;
    margin: 0;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}
.main-about-sub{
    font-size: 1em;
}
.about-con{
    position: relative;
    padding: 20px;
    width: 70%;
    background: rgba(255, 250, 252, 0.665);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(136, 169, 46, 0.382);
}
.sub-about{
    font-size: 2em;
    font-weight: 500;
    color: rgb(13, 156, 99);
    margin: 10px 0;
}
.svg-about{
    position: absolute;
    width: 100%;
    bottom: -7px;
    left: 0;
}
.main-about-sub{
    color: rgb(10, 53, 31);
}
.chef-img{
    position: absolute;
    background-image: url('/Images/chef.jpg');
    background-position: center;
    background-size: cover;
    border: 4px solid rgb(205, 53, 50);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    top: -200px;
    right: -230px;
    z-index: 55;
}
.abt-img1{
    position: absolute;
    background-image: url('/Images/diet.jpg');
    background-position: center;
    background-size: cover;
    border: 4px solid rgb(9, 206, 167);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    bottom: -20px;
    right: -180px;
    z-index: 55;
}
.abt-img2{
    position: absolute;
    background-image: url('/Images/cakes.jpg');
    background-position: center;
    background-size: cover;
    border: 4px solid rgb(206, 206, 9);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    top: -200px;
    right: 40px;
    z-index: 55;
}
.chef-img, .abt-img1, .abt-img2 {
    opacity: 0;
    transform: translateX(80px);
    transition: opacity 1s, transform 1s;
  }
  
.freshly-bake{
    background-image: url("/Images/loaf.jpg");
    background-size: cover;
    width: 100%;
    height: 150px;
    background-position: center;
    background-attachment: fixed;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark{
    padding: 30px 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 22, 22, 0.44);
    gap: 30px;
}
.freshly-bake span{
    font-size: 1.8em;
    font-weight: 500;
    color: rgb(250, 245, 245);
}
.freshly-bake button{
    width: 150px;
    height: 50px;
    padding: 10px;
    background-color: rgb(134, 7, 7);
    border: 1px solid rgb(106, 7, 7);
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: .9em;
}
.subscribe-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    background-color: rgba(244, 140, 140, 0.101);
}
.subscribe-section span{
    font-size: 2.5em;
    font-weight: 500;
    color: rgb(123, 9, 9);
    text-align: center;
    width: 55%;
    margin: 10px 0;
}
.sub-input{
    display: flex;
    gap: 15px;
    padding: 10px 0;
}
.subscribe-section p{
    font-size: 1.1em;
}
.subscribe-section input{
    width: 25rem;
    height: 30px;
    border: 1px solid rgb(106, 7, 7);
    border-radius: 2px;
    outline: none;
    padding: 5px 10px
}
.subscribe-section button{
    width: 150px;
    padding: 10px;
    background-color: rgb(106, 7, 7);
    border: 1px solid rgb(106, 7, 7);
    border-radius: 2px;
    color: white;
    cursor: pointer;
    font-size: .9em;
}


/* --------------------------------- */
/* ----------SECTION 4--------------*/
/* --------------------------------- */

.section4{
    width: 100%;
    height: 100vh;
}
.sec-4{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.section4 h1 {
    font-size: 5rem;
    background: url('/Images/diet.jpg') center/cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.contact-con{
    width: 100%;
    height: 500px;
    display: flex;
}
.contact-form{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-svg{
    width: 60%;
    background-image: url('/Images/contact.svg');
    background-size: cover;
    background-position: center;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.form-input{
    font-family: 'Barlow';
    width: 80%;
    height: 35px;
    border: 1px solid rgb(106, 99, 99);
    border-radius: 20px;
    font-size: 1em;
    outline: none;
    padding: 5px 10px
}
.message{
    font-family: 'Barlow';
    width: 80%;
    height: 70px;
    border: 1px solid rgb(106, 99, 99);
    border-radius: 20px;
    font-size: 1em;
    outline: none;
    padding: 10px
}
.contact-form button{
    font-family: 'Barlow';
    width: 50%;
    height: 40px;
    background-color: #FDB706;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    outline: none;
    padding: 5px 10px;  
    cursor: pointer; 
    margin-top: 10px;
}
.con-icons{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
.c-icons{
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .break{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .menu{
        bottom: 0;
        width: 100vw;
        height: 10%;
        margin-top: auto;
        flex-direction: row;
        z-index: 30;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .sections-con{
        width: 100vw;
        height: 90vh;
    }
    section {
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ul{
        margin: auto;
        padding: 0;
        display: flex;
        
    }
    li{
        list-style: none;
        margin: 0 20px;
    }
    li a {
        text-decoration: none;
        color: rgb(240, 234, 234);
        cursor: pointer;
        font-size: .8em;
    }
    .logo{
        width: 60px;
        height: 60px;
        margin-top: 0;
    }
    .section1{
        height: 90vh;
    }
    .hero-logo{
        width: 120px;
        height: 120px;
    }
    .section1 h1{
        font-size: 2.5em;
    }
    .extra{
        width: 100%;
        padding: 10px 0;
        justify-content: space-around;
    }
    .section2{
        width: 100%;
        height: 90vh;
    }
}

@media screen and (max-width: 800px){
    .section1 h1{
        width: 80%;
        font-size: 2em;
    }
    .section1 p{
        width: 80%;
        text-align: center;
    }
    .bttns{
        flex-direction: column;
        margin-top: 10px;
        width: 100%;
    }
    .btn{
        width: 60%;
    }
    .extra{
        flex-wrap: wrap;
        gap: 20p;
    }
    .ext-num{
        font-size: 1.3em;
    }
    .main-about-sub{
        font-size: .8em;
    }
    .chef-img{
        width: 200px;
        height: 200px;
        top: -100px;
        right: -190px;
    }
    .abt-img2{
        width: 200px;
        height: 200px;
        top: 80px;
        right: -200px;
    }
    .abt-img1{
        width: 200px;
        height: 200px;
        bottom: -30px;
        right: -200px;
        z-index: 55;
    }
    .dark{
        flex-direction: column;
    }
    .dark span{
        text-align: center;
    }
    .contact-form{
        width: 100%;
    }
    .contact-svg{
        display: none;
    }
    .sub-input{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 460px) {

    .explore-title,
    .sec-3 h1,
    .section4 h1 {
        font-size: 3em;
        margin: 0;
    }
    .fas{
        font-size: 1.5em;
        color: gray;
    }
    .icons{
        display: flex;
        gap: 2px;
    }
    .logo{
        display: none;
    }
}

@media (min-width: 460px) {
    .slider__item {
      aspect-ratio: 0.6666666667;
      min-width: calc((100% / 2) - 2rem);
    }
    .slider__nav {
      justify-content: flex-end;
    }
}

@media (min-width: 940px) {
    .slider__item {
      min-width: calc((100% / 3) - 4rem);
    }
}